h1 {
  font-size: 36px;
}

.container {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  text-align: center;
}

.form {
  width: 100%;
}
